page-image-modal {
    ion-slide.swiper-slide {
        left: 25%;
    }
    ion-slide{
        margin-top: -60%;
        height: 30px;
    }

    .slide-zoom {
        background: #e6e6e6;
    }
 
    .thumb-img {
        padding: 10px;
    }

}
